
<html>
  
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    </style>
    <body class="w3-light-pink">
    
    
    
     <div class="w3-row-padding w3-padding-16" bgcolor="blue">
     <div class="w3-third w3-margin-bottom">
       <img src="assets/555.jpg" alt="Norway" style="width:100%">
     <div class="w3-container w3-white">
     <h3>normal Room</h3>
     <h6 class="w3-opacity">From ₹1999</h6>
     <p>Single bed</p>
     <p>15m<sup>2</sup></p>
     <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
     
     <button class="w3-button w3-block w3-black w3-margin-bottom" data-toggle="modal" data-target="#myModal">Choose Room</button>
     <div class="modal fade formcenter"  id="myModal" role="form">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><span class="glyphicon glyphicon-lock"></span> BOOK NOW</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span>Book Your Room</label>
                  <input type="number" class="form-control" id="psw" placeholder="How many?">
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> email</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                </div>
                  <button type="submit" class="btn btn-block">Pay 
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
              </form>
          </div>
</div>     
     
    
    
    
     </div>
     </div>
     <div class="w3-third w3-margin-bottom">
     <img src="assets/777.jpg" alt="Norway" style="width:100%">
     
     <div class="w3-container w3-white">
     <h3>executive rooms</h3>
     <h6 class="w3-opacity">From ₹1400</h6>
     <p>Queen-size bed</p>
     <p>25m<sup>2</sup></p>
     <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
    
    
    
     <button class="w3-button w3-block w3-black w3-margin-bottom" data-toggle="modal" data-target="#myModal">Choose Room</button>
     <div class="modal fade formcenter"  id="myModal" role="form">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><span class="glyphicon glyphicon-lock"></span> BOOK NOW</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span>Book Your Room</label>
                  <input type="number" class="form-control" id="psw" placeholder="How many?">
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> email</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                </div>
                  <button type="submit" class="btn btn-block">Pay 
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
              </form>
            </div> </div>
            </div></div>
          

     
    
    
     
     <div class="w3-third w3-margin-bottom">
     <img src="assets/666.jpg" alt="Norway" style="width:100%">
     <div class="w3-container w3-white">
     <h3>Deluxe Room</h3>
     <h6 class="w3-opacity">From ₹9999</h6>
     <p>King-size bed</p>
     <p>40m<sup>2</sup></p>
     <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
     
     
     
     
     <button class="w3-button w3-block w3-black w3-margin-bottom" data-toggle="modal" data-target="#myModal">Choose Room</button>
     <div class="modal fade formcenter"  id="myModal" role="form">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><span class="glyphicon glyphicon-lock"></span> BOOK NOW</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span>Book Your Room</label>
                  <input type="number" class="form-control" id="psw" placeholder="How many?">
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> email</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                </div>
                  <button type="submit" class="btn btn-block">Pay 
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
              </form>
            </div> </div>
            
     
    
    
    