<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="footer-section">
    <div class="footer">
	<div class="container">
	        <div class="col-md-3 footer-three">
		       <h5>Contact Us</h5>
		       <p>Feel free to reach us</p>
		         <div class="foot-address">
		          <ul>
                    <li><i class="fa fa-map-marker"></i>350 Avenue,Dearborn,Michigan-48126 </li>
                    <li><i class="fa fa-envelope-o"></i>info@mailme@gmail.com </li>
                    <li><i class="fa fa-phone"></i>+1 313-456-8986 </li>
                    
                  </ul>
                 </div> 
		    </div>
		   
		    
						</div> <!-- End Col -->
					</div>
			
    </div>
